.titleBar {
	background-color: #03cee8;
	height: 44px;
	color: white;
	font-size: 32px;
	padding-left: 10px;
}

.navBar {
	background-color: white;
	height: 100px;
	padding-top: 20px;
}


*/ OPINION LIST */


.opinionList {
	font-family: "Helvetica Neue";
	padding: 4px 0 !important;
}

.opinionList-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	border-top: 1px black solid;
	padding-top: 6px;
}

.opinionList-header-left {
}

.opinionList-header-right {
}

.opinionList-title {
	font-size: 24px;
}

.opinionList-title-topic {
	color: orangered;
}

.opinionList-divider {
	padding: 0;
	margin: 0;
	border-top: 1px gray solid;
}

.opinionList-item {
	border-top: 1px #red solid !important ;

}

.opinionList-primary {
	font-size: 22px !important;
	line-height: 28px;
}

.opinionList-primary-opinion {
	margin: 0px !important;
}
.opinionList-primary-user {
	font-color: gray;
}


.opinionList-secondary {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding: 0 !important;
	margin-left: 20px;
	font-size: 12px;
	height: 32px !important;
	width: 100%;
	font-weight: 500;
	padding: 0px;
}

.opinionList-secondary-item {

}

/* user attribution */
.opinionList-secondary-item.left {
	text-align: left !important;
}
.opinionList-secondary-item.center {
	text-align: center;
}
.opinionList-secondary-item.right {
	text-align: right;
}

.opinionList-secondary-item.right.disabled {
	color: red !important;
}
