.opinionList {
	font-size: 18px;
	color: #3e3e3e;
	line-height: 16px;
	font-family: "Helvetica Neue";
	font-weight: 300;
}


// Customize the material-ui list item

.opinionListListItem {
	background-color: red !important;
}


/* parent of primary text div */
.opinionListListItem > div > div {
	padding: 10px 56px 30px 16px !important;
}

/* primary text div */
.opinionListListItem > div > div > div {
	padding-top: 0px;
/*	text-overflow: ellipsis !important;*/
/*	white-space: nowrap;*/
	overflow: hidden !important;
	height: 48px;
	max-height: 100px !important;
	font-size: 12px;
	line-height: 16px;
}

/* secondary text div */s
.opinionListListItem > div > div:nth-child(3) {
	margin: 0px 0px 0px !important;
	background-color: purple;
}


.opinionListListItemFooter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding: 0 !important;
	margin-left: 20px;
	font-size: 12px;
	height: 32px !important;
	width: 100%;
	font-weight: 500;
	padding: 0px;
}

.footerItem {
	width: 150px;
	text-align: center;
	padding: 5px 0 2px 0;
}

.footerItem.left {
	text-align: left;
}
.footerItem.center {
	text-align: center;
}
.footerItem.right {
	text-align: right;
}


.opinionListListItemDivider {
	border-top: 1pt gray solid;
	margin-left: 20px;
}


.opinionList-footer-left {
	float: left;

}

.opinionList-footer-middle {
}

.opinionList-footer-right {
	float: right;
}

.opinionListFooterInner {
	  position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.opinionList .typePill {
    font-family: "Noto Sans", sans-serif;
    font-size: .8em;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: .3em 0.8em;
    color: white;
    border-radius: 8em;
    text-align: center;
    background: #818181;
    min-width: 3em;
    margin: 0 0.6em;
}
